/**
 * Foundation(ish) Accordion styles.
 */

/* Layers */
@layer accordion;
@layer accordion.reset, accordion.core, accordion.state;

/* Reset */
@import "./styles/reset.css" layer(accordion.reset);

/* Core */
@layer accordion.core {
    details,
    .disclosure {
        border: 1px solid var(--accordion-border-color, #ccc);
        border-radius: 4px;
        padding: 0.5em;
    }

    summary {
        cursor: pointer;
        font-weight: bold;
    }

    details[open] summary,
    .disclosure:has([aria-expanded="true"]) button {
        color: var(--accordion-open-summary-color, #007BFF);
    }

    .disclosure > button[aria-expanded] {
        display: block;
        width: 100%;
        text-align: left;
    }

    button[aria-expanded] {
        cursor: pointer;
        appearance: none;
        background: none;
        position: relative;
        padding-inline-start: 14px;
        color: light-dark(black, white);
        font-weight: bold;
    }

    button::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 0.5em;
        height: 0.5em;
        transform: translate(-1px, -50%) rotate(-45deg);
        border-right: 0.15em solid currentColor;
        border-bottom: 0.15em solid currentColor;
    }

    button[aria-expanded="true"]::before {
        transform: translateY(calc(-50% - 2px)) rotate(45deg);
    }
}
