/**
 * Foundation(ish) Accordion styles.
 */

/* Layers */
@layer accordion;
@layer
    accordion.reset,
    accordion.tokens,
    accordion.core,
    accordion.state,
    accordion.theme,
    accordion.utilities;

/* Reset */
@import "./styles/reset.css" layer(accordion.reset);


/* Core */
@layer accordion.core {
    details,
    .disclosure {
        border: var(--fndish-disclosure-border, 1px solid #ccc);
        border-radius: 4px;
    }

    summary,
    button[aria-expanded] {
        cursor: pointer;
        font-weight: bold;
        padding: var(--fndish-disclosure-padding, 0.5rem);
    }

    details[open] summary,
    .disclosure:has([aria-expanded="true"]) button {
        color: var(--accordion-open-summary-color, #007BFF);
    }

    .disclosure > button[aria-expanded] {
        display: flex;
        flex-flow: row wrap;
        /* display: block; */
        width: 100%;
        text-align: left;
    }

    button[aria-expanded] {
        cursor: pointer;
        appearance: none;
        background: none;
        position: relative;
        padding-inline-start: 14px;
        color: light-dark(black, white);
        font-weight: bold;
    }

    button::before {
        /*
        content: "";
        border-right: 0.15em solid currentColor;
        border-bottom: 0.15em solid currentColor;
        margin-right: 0.25rem;
        transform: translate(-3px, calc(-50% + 2px)) rotate(-45deg);
        */
    }

    button[aria-expanded="true"]::before {
        transform: translate(-1px, -50%) rotate(45deg);
    }

    .right-icon {
        --expanded-icon-rotation: 45deg;

        :where(button[aria-expanded], summary) {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-between;
            padding-inline-start: calc(14px/16px*1rem);

            &::after {
            }

            &::after {
                content: "";
                border-right: 0.15em solid currentColor;
                border-bottom: 0.15em solid currentColor;
                margin-right: 0.45rem;
                /* margin-left: auto; */
                transform: translate(-1px, -0.5px) rotate(-45deg);

                position: relative;
                display: inline-block;
                width: 0.5em;
                height: 0.5em;
                transition: 0.1s transform ease-out;
                pointer-events: none;
            }

            &[aria-expanded="true"]::after {
                transform: translate(-1px, -0.5px) rotate(var(--expanded-icon-rotation, 45deg));
            }
        }

        details[open] summary::after {
            transform: translate(-1px, -0.5px) rotate(var(--expanded-icon-rotation, 45deg));
        }
    }

    :where(button[aria-expanded] + div[id]) {
        padding: var(--fndish-disclosure-padding);
        padding-block-start: 0;
        padding-block-end: 1.05rem;
        padding-inline-start: 1rem
    }

    :where(summary + div),
    summary::details-content {
        padding: var(--fndish-disclosure-padding);
        padding-block-start: 0;
    }

    details {
        & summary {
            list-style: none;

            &::marker {
                content: none;
            }

            &::-webkit-details-marker {
                display: none;
            }
        }

        & summary + :where(*) {
            padding: var(--fndish-disclosure-padding);
            padding-block-start: 0;
            padding-block-end: 1.05rem;
            padding-inline-start: 1rem
        }
    }
}


@layer accordion.tokens {
    :root {
        --fndish-disclosure-padding: 0.5rem;
        --fndish-disclosure-border: 1px solid #ccc;
        --accordion-open-summary-color: white;
    }
}